<h1>TASKS LIST</h1>

<ol>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.name, task_path(task.id) %>
       - <%= task.description %>
      <%= link_to 'Delete!', task_path(task.id), method: :delete , data: {confirm: 'Are you sure??'}%>
    </li>
  <% end %>
</ol>
